@import-normalize; /* bring in normalize.css styles */

:root {
  --family: 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;
  --radii: 0.5rem;
}


body {
  margin: 0;
  font-family: var(--family); 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


ul,
ol,
li {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: block;
}

a {
  text-decoration: none;
  font-family: var(--family);
  color: var(--color-text);
  font-weight: var(--fw-light);
}


body[data-theme='light'],
a[data-theme='light'] {
  --color-text: hsl(200, 15%, 8%);
  --color-bg: hsl(0, 0%, 98%);
  --color-ui-base: hsl(0, 0%, 100%);

  --shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

body[data-theme='dark'],
a[data-theme='dark'] {
  --color-text: hsl(0, 0%, 100%);
  --color-bg: hsl(240, 2%, 20%);
  --color-ui-base: hsl(209, 23%, 22%);

  --shadow: rgba(245, 245, 245, 0.2) 0px 0px 8px;
}

body {
  margin: 0;
  font-family: var(--family);
  color: var(--color-text);
  font-weight: var(--fw-light);
  background-color: var(--color-bg);
}